<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i> &nbsp; <b>wanderlust</b> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Become a host </a>
        </li>
        <% if (currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/wishlist">
               Wishlists <i class="fa-solid fa-heart text-danger"></i>
            </a>
          </li>
        <% } %>

        
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mb-2 mb-lg-0 ">
        
        <% if(!currentUser){ %> 
                <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/signup">SignUp</a></li>
           <% } else{%>
            <li class="nav-item " ><a class="nav-link" style="padding-top: 14px;" href="/user/logout">Logout</a></li>  
          <li class="nav-item" >
            <a class="nav-link " >
            <div class="user-logo">
              <p style="margin-bottom: 8px;"><%= currentUser.username %></p>
            <% if (currentUser.profilePicture) { %>
          <img 
            valu
            src="<%= currentUser.profilePicture %>" 
            alt="User profile" 
            title="<%= currentUser.username %>" 
            class="rounded-circle mb-2" 
            style="width: 35px; height: 35px; object-fit: cover; border: 2px solid #ddd;"
          >
        <% } else { %>
          <div title="<%= currentUser.username %>" 
            class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center mb-2"
            style="width: 35px; height: 35px; font-size: 32px; font-weight: bold;"
          >
            <%= currentUser.username.charAt(0).toUpperCase() %>
          </div>
        <% } %>
            </div>
        </a> 
        </li>
          <%}%>
        
      </ul>
    </div>
  </div>
</nav>